/* Universal Styles */

html {
  font-family: sans-serif;
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
}

/* Header */

header {
  display: flex;
  width: 100%;
  height: 64px;
  justify-content: space-between;

  background-color: white;
  border: solid black 1px;

}
.logo {
  display: flex;
  margin: 16px 24px;
  border: solid black 1px;
  text-align: center;
  text-transform: uppercase;
}
.logo img {
  height: 32px;
  align-items: center;
}
  #colmar {
    font-weight: bold;
    text-align: center;
  }
  #academy {
    color: gray;
    text-align: center;
  }
.menu {
  display: flex;
  justify-content: flex-end;
  margin: 16px;
  border: solid black 1px;
}

.menu li{
  display: inline-flex;
  text-align: center;
  color: gray;
  margin: 0px 8px;
  border: solid black 1px;

}
